<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href ="{{url_for('static', filename = 'css/styles.css')}}">
    <title>Weather App</title>
    
</head>
<body>
    <form method = "POST" id = "weather-form">
        <div id = "panel">
            <label id = "header_on_panel">Check the Weather</label><br>
            <input type = "text" name = "city" class="city" placeholder = "Enter City">
            
            <div class="radio-group">
                <label for="imperial">Imperial</label>
                <input name="units" id="imperial" type="radio" value="imperial">
                <label for="metric">Metric</label>
                <input name="units" id="metric" type = "radio" value="metric" checked><br>
            </div>
            <button id = "button" type = "submit">Search</button>
        </div>
        <div id = "result">
            <!-- js send received data here-->
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>